apiVersion: apps/v1
kind: Deployment
metadata:
  name: pod-name-app
spec:
  replicas: 3
  selector:
    matchLabels:
      app: pod-name-app
  template:
    metadata:
      labels:
        app: pod-name-app
    spec:
      containers:
      - name: podname
        image: kishalayb18/podname:v1
        imagePullPolicy: Always
        ports:
        - containerPort: 5000